body {
  background: linear-gradient(#00a380);
  color: white;
}
h1 {
  background-color: transparent;
  color: #000000;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 5px 10px;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  text-shadow: 0px 0px 20px #000000;
  -webkit-text-stroke: 1px #4b4646;
  font-size: 30px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
